#dropdown1 {
  top: 20px;
}

nav {
  background: rgba(253, 149, 90, 0.8);
}

.brand-logo {
  margin-left: 20px;
}

body {
  background-color: rgb(57, 58, 73);
  color: rgb(166, 175, 175)
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  width: 500px;
  height: 20px;
  position: absolute;
  top:  40%;
  left: 22%;
  transform: translate(-40%,-22%);
  font-size: 2.5vw;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  color: rgba(253, 149, 90, 0.8);
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px){
  #typewriter{
    font-size: 3.8vw;
    left: 95px;
  }
   nav .brand-logo {
    font-size: 1.8rem;
  }
}